@charset "UTF-8";

html{
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 600;
    background-color:rgb(24, 81, 132);
}


header menu{
    display: none;

}

header h1{
    text-align: center;
}

h2{
    text-align:center;
}

p{
    text-align: justify;
}

article::after{
    content:'Este artigo foi criado por David Lopes'
}